.col-xs-12{
     padding: 0;
}
dl>.col-xs-4,dl>.col-xs-8{
    padding: 0 0 3% 0;
}
dl>.col-xs-4:nth-last-child(2),dl>.col-xs-8:nth-last-child(1){
    padding: 0;
}
address {
    margin-bottom: 0;
}
.content_line>div{
    padding:0 0 0 25px;
}
.content_line>div:nth-child(1){
    padding-top:10px;
}
.pic>div{
    padding-left: 0;
}
.thumbnail {
    margin-bottom: 0;
}
hr {
    border-top: 1px solid #c8c8c8;
}
.panel>hr:nth-last-child(1){
    opacity: 0;
    margin-bottom:0;
}